@font-face{
	font-family: veramono;
	src: url("../fonts/VeraMono.ttf");
}
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
@-ms-viewport {width: device-width;}
.container {
  margin: 0 auto;
  max-width: 960px;
  width: 90%;
}
.column {
  float: left;
  margin-left: 5%;
}
code{
	display:block;
	background:#222;
	margin:0;
	padding:2px 10px;
	color:#b5e853;
	opacity:0.8;
}
p code{
	margin:2px -10px;
}
p img{
	width:100%;
}
/* code:before, code:after{
	content:" # ";
	display:block;
	background:#000;
	font-family:"VeraMono", Monaco, sans-serif, helvetica;
	color:#777;
} */
.column:first-child {
  margin-left: 0;
}
.column.full {
  width: 100%;
}
.app{
	position:relative;
	margin:0 0 20px 0;
}
a{
	color:inherit;
}
a:hover{
	text-decoration:none;
}
#coderun{
	color:#a2e226;
}
#coderun:before{
	content:"$ ";
}
h1, h2, h3, h4, h5{
	margin:0 0 5px 0;
}
h3{
	font-size:22px;
	border-bottom:1px dashed #a2e226;
	padding:0 0 5px 0;
	margin:0 0 5px 0;
	text-transform:lowercase;
}
p{
	margin:0;
	line-height:1.5em;
}
ul, ol{
	background: #000;
	padding: 0 0 0 30px;
	margin: 0;
	color:#666;
}
p.code{
	padding:5px 10px;
	background:#000;
	color:#aaa;
}
b, strong{
	font-weight:normal;
	background:#222;
}
p:before, p:after{
color:#777;
}
p:before{
	content:"# ";
}
p:after{
	content:" #";
}
.links:after{content:"";}
.links:before{content:"";}
.links a{
	color:#006400;
	text-decoration:none;
	display:block;
}
.links a:hover{
	text-decoration:underline;
}
.cd:before{
	content:"$ cd /";
}
.links a:hover::before{
	text-decoration:none !important;
}
#goto{
	display:block;
	width:100%;
	background:#111;
	outline:none;
	border:none;
	margin:5px 0;
	color:#a2e226;
	font-family:"veramono", Monaco, Sans-Serif, Helvetica, Arial;
}
.app p{
	padding:5px 10px;
	margin:0;
	background:#000;
	color:#aaa;
}

.web p{
	background:#fff;
	padding:2px;
	color:#333;
	border-top:3px solid #555;
	border-left:3px solid #555;
	border-right:3px solid #999;
	border-bottom:3px solid #999;
}
h3:before{
	content:"$- ";
	color:#a2e226;
	opacity:0.8;
}
.web h3{
	text-transform:uppercase;
	color:#F06529;
	border-bottom:1px solid #E34C26;
}
.web h3:before{
	content:"<";
	color:#F06529;
}
.web h3:after{
	content:">";
}
.web p:before{
	content:"<!-- ";
}
.web p:after{
	content:"--> ";
}
header{
	padding:30px 0 20px 0;
}
.main, .sidebar{
	padding-top:10px;
}
.title{
	text-transform:lowercase;
	color:#a2e226;
}
.title:before{
	content:"./";
	opacity:0.5;
}
.column.two-thirds {
  width: 65%;
}
.column.half {
  width: 47.5%;
}
.column.one-third {
  width: 30%;
}
.column.one-fourth {
  width: 21.25%;
}
.row:after{
  content: "";
  display: table;
  clear: both;
}
@media screen and (max-width: 640px) {
  .column.full,
  .column.two-thirds,
  .column.half,
  .column.one-third,
  .column.one-fourth {
    float: none;
    margin: 0;
    width: 100%;
  }
}
body{
  padding: 0;
  margin: 0;
  font-size: 14px;
  font-family:"veramono", Monaco, Sans-Serif, Helvetica, Arial;
  background:#151515;
  color:#b5e853;
}

@import url(http://fonts.googleapis.com/css?family=Press+Start+2P);

// Commodore 64 palette in original palette order
$c64Black: #000;
$c64White: #FFF;
$c64Red: #68372B;
$c64Cyan: #70A4B2;
$c64Purple: #6F3D86;
$c64Green: #588D43;
$c64Blue: #352879;
$c64Yellow: #B8C76F;
$c64Orange: #6F4F25;
$c64Brown: #433900;
$c64LightRed: #9A6759;
$c64DarkGrey: #444444;
$c64Grey: #6C6C6C;
$c64LightGreen: #9AD284;
$c64LightBlue: #6C5EB5;
$c64LightGrey: #959595;

::selection {
  background-color: $c64Cyan;
  color: $c64Blue;
}

html {
  background: $c64Grey;
  font-family: 'Press Start 2P', monospace;
  // browser default size to 8px
  font-size: 50%;
}

div {
  // IE8 fallback
  background: $c64White;
  color: $c64Black;
  font-size: 2em;
  
  line-height: 1.25;
  margin-bottom: .5em !important;
  margin-top: .5em !important;
  text-transform: uppercase;
}

.border-step1 {
  border-style: solid;
  border-width: .125em 0;
  margin: 0 .125em;
  padding: .5em;
  position: relative;
  z-index: 1;
  
  &:before {
    border: inherit;
    border-width: 0 .125em;
    content: '';
    height: 100%;
    left: -.125em;
    pointer-events: none;
    position: absolute;
    top: 0;
    right: -.125em;
    z-index: -1;
  }
}

.border-step2 {
  border-style: solid;
  border-width: .125em 0;
  margin: 0 .25em;
  padding: .5em .375em;
  position: relative;
  z-index: 1;
  
  &:before {
    background-color: inherit;
    border: inherit;
    border-width: 0 .125em;
    bottom: .125em;
    content: '';
    left: -.25em;
    pointer-events: none;
    position: absolute;
    top: .125em;
    right: -.25em;
    z-index: -1;
  }
  
  &:after {
    border: inherit;
    border-width: 0 .125em;
    bottom: 0;
    content: '';
    left: -.125em;
    position: absolute;
    top: 0;
    right: -.125em;
    z-index: -2;
  }
}

.border-step3 {
  border-style: solid;
  border-width: .125em 0;
  box-shadow: -.25em 0 0 -.125em,
    .25em 0 0 -.125em;
  margin: 0 .375em;
  padding: .5em .25em;
  position: relative;
  z-index: 1;
  
  &:before {
    background-color: inherit;
    border: inherit;
    border-width: 0 .125em;
    bottom: .25em;
    content: '';
    left: -.375em;
    pointer-events: none;
    position: absolute;
    top: .25em;
    right: -.375em;
    z-index: -1;
  }
  
  &:after {
    background: inherit;
    border: inherit;
    border-width: 0 .125em;
    bottom: .125em;
    content: '';
    left: -.25em;
    position: absolute;
    top: .125em;
    right: -.25em;
    z-index: -2;
  }
}

.border-step4 {
  border-style: solid;
  border-width: .125em 0;
  box-shadow: -.375em 0 0 -.125em,
    .375em 0 0 -.125em;
  margin: 0 .5em;
  padding: .5em .125em;
  position: relative;
  z-index: 1;
  
  &:before {
    background-color: inherit;
    border: inherit;
    border-width: 0 .125em;
    bottom: .375em;
    content: '';
    left: -.5em;
    pointer-events: none;
    position: absolute;
    top: .375em;
    right: -.5em;
    z-index: -1;
  }
  
  &:after {
    background-color: inherit;
    border: inherit;
    border-width: 0 .125em;
    bottom: .125em;
    content: '';
    left: -.375em;
    position: absolute;
    top: .125em;
    right: -.375em;
    z-index: -2;
  }
}

/*
 * SIZE
 */
#px1:checked ~ div {
  font-size: 1em; // 8px = 1px border
}

#px2:checked ~ div {
  font-size: 2em; // 16px = 2px border
}

#px3:checked ~ div {
  font-size: 3em; // 24px = 3px border
}

#px4:checked ~ div {
  font-size: 4em; // 32px = 4px border
}

#px5:checked ~ div {
  font-size: 5em; // 40px = 5px border
}

#px6:checked ~ div {
  font-size: 6em; // 48px = 6px border
}

/*
 * COLOR
 */
#color1:checked ~ div {
  background-color: #fff;
  color: #000;
}

#color2:checked ~ div {
  background-color: $c64LightBlue;
  color: $c64Blue;
}

#color3:checked ~ div {
  background-color: $c64LightRed;
  color: $c64Red;
}

#color4:checked ~ div {
  background-color: $c64LightGrey;
  color: $c64DarkGrey;
}

// many retro
ul {
  list-style-type: square;
}

li {
  margin-bottom: 1em;
}

// so hack, much effective
input:checked ~ input:checked ~ div#browser-support {
  font-size: 2em;
  width: 30em;
  background-color: $c64Brown;
  color: $c64LightGreen;
}
